<ng-container *ngIf="theme | async as theme">
  <div class="video-actions" [ngClass]="theme">
    <div class="content" [formGroup]="form">
      <app-input formControlName="url" label="Video URL" />
      <app-button class="margin-left" (click)="addVideoToQueue()"
        ><fa-icon class="margin-right" [icon]="faPlus" />Add to queue</app-button
      >
      <app-vertical-separator />
      <app-button><fa-icon class="margin-right" [icon]="faRotate" />Desynchronize</app-button>
      <app-button class="margin-left"><fa-icon class="margin-right" [icon]="faForwardStep" />Vote to skip</app-button>
    </div>
  </div>
</ng-container>
