@import '../../styles/shared.scss';

$border-radius: 4px;

.video-actions.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  color: $light-text-color;
  box-shadow: 0 4px 10px -2px rgba($light-primary-a80, 0.2); // TODO Variable

  & > .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: $padding;
    max-height: 256px - 64px;
    background-color: $light-primary-a0;
    border-left: 1px solid $light-border-color;
    border-right: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;
    border-radius: 0;
    overflow-y: scroll;

    app-input {
      width: 100%;
      max-width: 512px;
    }

    app-button {
      min-width: 128px;
    }

    .margin-left {
      margin-left: $padding;
    }
  }
}
