@import '../../styles/shared.scss';

.header.#{$flat-light-theme-class-name} {
  width: 100%;
  height: $header-height;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 600;
  color: $light-text-color;
  padding: 0 $padding;
  background-color: $light-primary-a10;
  border: 1px solid $light-border-color;
  @include border-top-radius;
}
