@use '../../styles/shared.scss' as *;

.header.#{$flat-dark-theme-class-name} {
  width: 100%;
  height: $header-height;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;
  color: $dark-text-color;
  font-weight: 600;
  color: $dark-text-color;
  padding: 0 $padding;
  background-color: $dark-primary-a40;
  border: 1px solid $dark-border-color;
  @include border-top-radius;
}
