.toast.flat-light,
.toast.flat-dark {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: transparent;
  box-shadow: 0 2px 8px rgb(0 0 0 / 30%);
  width: 256px;
  overflow: hidden;
  border-radius: var(--border-radius) !important;

  .main {
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: var(--padding);
    background: var(--gray-a0);

    .icon {
      font-size: var(--font-size);
      margin-right: var(--padding);
      line-height: var(--line-height);
    }

    .header,
    .message {
      font-size: var(--font-size);
      line-height: var(--line-height);
      margin: 0;
      padding: 0;
      text-align: left;
    }

    .header {
      font-weight: 600;
      line-height: var(--line-height);
    }

    .content {
      flex: 1;
    }

    .close-button {
      align-self: flex-start;
      margin-left: var(--padding);
    }

    &.info {
      border-bottom: none;
    }

    &.success {
      border-bottom: none;
    }

    &.danger {
      border-bottom: none;
    }
  }

  .timeout-progress {
    height: 3px;

    &.info {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }

    &.success {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }

    &.danger {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }
  }
}

.toast.flat-light {
  background-color: transparent;
  border: 1px solid var(--light-border-color);

  .main {
    .icon {
      color: var(--light-text-color);
    }

    .header,
    .message {
      color: var(--light-text-color);
    }

    &.info {
      background: var(--light-primary-a10);

      .icon {
        color: var(--light-primary-a70);
      }

      .header,
      .message {
        color: var(--light-primary-a70);
      }
    }

    &.success {
      background: var(--light-success-a10);

      .icon {
        color: var(--light-success-a70);
      }

      .header,
      .message {
        color: var(--light-success-a70);
      }
    }

    &.danger {
      background: var(--light-danger-a10);

      .icon {
        color: var(--light-danger-a70);
      }

      .header,
      .message {
        color: var(--light-danger-a70);
      }
    }
  }

  .timeout-progress {
    &.info {
      background-color: var(--light-primary-a10);

      .bar {
        background-color: var(--light-primary-a70);
      }
    }

    &.success {
      background-color: var(--light-success-a10);

      .bar {
        background-color: var(--light-success-a70);
      }
    }

    &.danger {
      background-color: var(--light-danger-a10);

      .bar {
        background-color: var(--light-danger-a70);
      }
    }
  }
}

.toast.flat-dark {
  border: 1px solid var(--dark-border-color);

  .main {
    .icon {
      color: var(--dark-text-color);
    }

    .header,
    .message {
      color: var(--dark-text-color);
    }

    &.info {
      background: var(--light-primary-a90);

      .icon {
        color: var(--light-primary-a90);
      }

      .header,
      .message {
        color: var(--light-primary-a70);
      }
    }

    &.success {
      background: var(--light-success-a90);

      .icon {
        color: var(--light-success-a90);
      }

      .header,
      .message {
        color: var(--light-success-a70);
      }
    }

    &.danger {
      background: var(--light-danger-a90);

      .icon {
        color: var(--light-danger-a90);
      }

      .header,
      .message {
        color: var(--light-danger-a70);
      }
    }
  }

  .timeout-progress {
    &.info {
      background-color: var(--light-primary-a10);

      .bar {
        background-color: var(--light-primary-a70);
      }
    }

    &.success {
      background-color: var(--light-success-a10);

      .bar {
        background-color: var(--light-success-a70);
      }
    }

    &.danger {
      background-color: var(--light-danger-a10);

      .bar {
        background-color: var(--light-danger-a70);
      }
    }
  }
}
