<!-- eslint-disable @angular-eslint/template/no-inline-styles -->

<div
  class="toast"
  (focus)="focus()"
  (mouseover)="focus()"
  (mouseout)="blur()"
  (blur)="blur()">
  <div
    class="main"
    [class.success]="variant() === 'success'"
    [class.info]="variant() === 'info'"
    [class.danger]="variant() === 'danger'">
    <div class="icon">
      <lib-text [variant]="variant()">
        @if (variant() === 'success') {
          <fa-icon [icon]="faCircleCheck" />
        } @else if (variant() === 'info') {
          <fa-icon [icon]="faCircleInfo" />
        } @else if (variant() === 'danger') {
          <fa-icon [icon]="faTriangleExclamation" />
        }
      </lib-text>
    </div>
    <div class="content">
      <div class="header">
        <lib-text [variant]="variant()">{{ title() }}</lib-text>
      </div>
      <div class="message">
        <lib-text>{{ message() }}</lib-text>
      </div>
    </div>
    <button class="close-btn" type="button" (click)="dismiss()">
      <fa-icon [icon]="faXmark" />
    </button>
  </div>
  <div
    class="timeout-progress"
    [class.success]="variant() === 'success'"
    [class.info]="variant() === 'info'"
    [class.danger]="variant() === 'danger'">
    <div
      class="bar"
      [ngStyle]="{
        width: barWidth,
        'transition-duration': transitionDuration,
      }"></div>
  </div>
</div>
