@use '../../styles/shared.scss' as *;

.toast.#{$flat-light-theme-class-name},
.toast.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: transparent;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 256px;
  overflow: hidden;
  @include border-radius;

  .main {
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: $padding;
    background: $gray-a0;

    .icon {
      font-size: $font-size;
      margin-right: $padding;
      line-height: $line-height;
    }

    .header,
    .message {
      font-size: $font-size;
      line-height: $line-height;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    .header {
      font-weight: 600;
      line-height: $line-height;
    }

    .content {
      flex: 1;
    }

    .close-button {
      align-self: flex-start;
      margin-left: $padding;
    }

    &.info {
      border-bottom: none;
    }

    &.success {
      border-bottom: none;
    }

    &.danger {
      border-bottom: none;
    }
  }

  .timeout-progress {
    height: 3px;

    &.info {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }

    &.success {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }

    &.danger {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }
  }
}

.toast.#{$flat-light-theme-class-name} {
  background-color: transparent;
  border: 1px solid $light-border-color;

  .main {
    .icon {
      color: $light-text-color;
    }

    .header,
    .message {
      color: $light-text-color;
    }

    &.info {
      .icon {
        color: $light-primary-a70;
      }

      .header,
      .message {
        color: $light-primary-a70;
      }
    }

    &.success {
      .icon {
        color: $light-success-a70;
      }

      .header,
      .message {
        color: $light-success-a70;
      }
    }

    &.danger {
      .icon {
        color: $light-danger-a70;
      }

      .header,
      .message {
        color: $light-danger-a70;
      }
    }
  }

  .timeout-progress {
    &.info {
      background-color: $light-primary-a10;

      .bar {
        background-color: $light-primary-a70;
      }
    }

    &.success {
      background-color: $light-success-a10;

      .bar {
        background-color: $light-success-a70;
      }
    }

    &.danger {
      background-color: $light-danger-a10;

      .bar {
        background-color: $light-danger-a70;
      }
    }
  }
}

.toast.#{$flat-dark-theme-class-name} {
  border: 1px solid $dark-border-color;

  .main {
    .icon {
      color: $dark-text-color;
    }

    .header,
    .message {
      color: $dark-text-color;
    }

    &.info {
      .icon {
        color: $light-primary-a90;
      }

      .header,
      .message {
        color: $light-primary-a70;
      }
    }

    &.success {
      .icon {
        color: $light-success-a90;
      }

      .header,
      .message {
        color: $light-success-a70;
      }
    }

    &.danger {
      .icon {
        color: $light-danger-a90;
      }

      .header,
      .message {
        color: $light-danger-a70;
      }
    }
  }

  .timeout-progress {
    &.info {
      background-color: $light-primary-a10;

      .bar {
        background-color: $light-primary-a70;
      }
    }

    &.success {
      background-color: $light-success-a10;

      .bar {
        background-color: $light-success-a70;
      }
    }

    &.danger {
      background-color: $light-danger-a10;

      .bar {
        background-color: $light-danger-a70;
      }
    }
  }
}
