@use '../../styles/shared.scss' as *;

.toast.#{$flat-light-theme-class-name},
.toast.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: none;
  background-color: transparent;
  width: 256px;

  .main {
    box-sizing: border-box;
    position: relative;
    display: flex;
    padding: $padding;

    .icon {
      font-size: $font-size;
      margin-right: $padding;
      line-height: $line-height;
    }

    .header,
    .message {
      font-size: $font-size;
      line-height: $line-height;
      margin: 0;
      padding: 0;
      text-align: left;
    }

    .header {
      font-weight: 600;
      line-height: $line-height;
    }

    .content {
      flex: 1;
    }

    .close-btn {
      align-self: flex-start;
      background: none;
      border: none;
      cursor: pointer;
      font-size: $font-size;
      line-height: $line-height;
      padding: 0;
      margin-left: $padding;
    }

    &.info {
      border-bottom: none;
    }

    &.success {
      border-bottom: none;
    }

    &.danger {
      border-bottom: none;
    }
  }

  .timeout-progress {
    height: 3px;

    &.info {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }

    &.success {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }

    &.danger {
      border-top: none;

      .bar {
        height: 3px;
        transition: width linear;
      }
    }
  }
}

.toast.#{$flat-light-theme-class-name} {
  background-color: transparent;

  .main {
    .icon {
      color: $light-text-color;
    }

    .header,
    .message {
      color: $light-text-color;
    }

    .close-btn {
      color: $light-text-color;
    }

    &.info {
      background: $light-primary-a10;
      border: 1px solid $light-primary-a70;

      .icon,
      .close-btn {
        color: $light-primary-a70;
      }

      .header,
      .message {
        color: $light-primary-a70;
      }
    }

    &.success {
      background: $light-success-a10;

      .icon,
      .close-btn {
        color: $light-success-a70;
      }

      .header,
      .message {
        color: $light-success-a70;
      }
    }

    &.danger {
      background: $light-danger-a10;

      .icon,
      .close-btn {
        color: $light-danger-a70;
      }

      .header,
      .message {
        color: $light-danger-a70;
      }
    }
  }

  .timeout-progress {
    &.info {
      background-color: $light-primary-a10;

      .bar {
        background-color: $light-primary-a70;
      }
    }

    &.success {
      background-color: $light-success-a10;

      .bar {
        background-color: $light-success-a70;
      }
    }

    &.danger {
      background-color: $light-danger-a10;

      .bar {
        background-color: $light-danger-a70;
      }
    }
  }
}

.toast.#{$flat-dark-theme-class-name} {
  .main {
    .icon {
      color: $dark-text-color;
    }

    .header,
    .message {
      color: $dark-text-color;
    }

    .close-btn {
      color: $dark-text-color;
    }

    &.info {
      background: $light-primary-a90;

      .icon,
      .close-btn {
        color: $light-primary-a90;
      }

      .header,
      .message {
        color: $light-primary-a70;
      }
    }

    &.success {
      background: $light-success-a90;

      .icon,
      .close-btn {
        color: $light-success-a90;
      }

      .header,
      .message {
        color: $light-success-a70;
      }
    }

    &.danger {
      background: $light-danger-a90;

      .icon,
      .close-btn {
        color: $light-danger-a90;
      }

      .header,
      .message {
        color: $light-danger-a70;
      }
    }
  }

  .timeout-progress {
    &.info {
      background-color: $light-primary-a10;

      .bar {
        background-color: $light-primary-a70;
      }
    }

    &.success {
      background-color: $light-success-a10;

      .bar {
        background-color: $light-success-a70;
      }
    }

    &.danger {
      background-color: $light-danger-a10;

      .bar {
        background-color: $light-danger-a70;
      }
    }
  }
}
