:host {
  flex-grow: 1;
}

.chat.flat-light,
.chat.flat-dark {
  box-sizing: border-box;
  width: var(--panel-width);
  height: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius) !important;

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    flex-grow: 1;
    min-height: 0;
  }

  .messages {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    flex-grow: 1;
    min-height: 0;
    overflow-y: scroll;

    span {
      font-size: var(--font-size);
      line-height: var(--line-height);
    }
  }

  .input {
    box-sizing: border-box;
    padding: var(--padding);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    lib-input {
      width: 100% !important;
      margin-right: var(--padding);
    }

    app-button {
      width: 64px;

      &.large {
        width: 96px;
      }
    }
  }
}

.chat.flat-light {
  background-color: var(--light-primary-a0);
  color: var(--light-text-color);
  border: 1px solid var(--light-border-color);

  .messages {
    span {
      color: var(--light-text-color);
    }
  }

  .input {
    border-top: 1px solid var(--light-border-color);
  }
}

.chat.flat-dark {
  background-color: var(--gray-a90);
  color: var(--dark-text-color);
  border: 1px solid var(--dark-border-color);

  .messages {
    span {
      color: var(--dark-text-color);
    }
  }

  .input {
    border-top: 1px solid var(--dark-border-color);
  }
}
