<div class="chat" [ngClass]="theme()">
  <lib-header>Chat</lib-header>
  <div class="content">
    <div class="messages">
      @for (message of messages(); track trackByFn($index, message)) {
        <span
          >[{{ timestamps[$index] }}] {{ message.username }}:
          {{ message.text }}</span
        >
      }
    </div>
    <form class="input" [formGroup]="form">
      @if (form.get('username')?.value) {
        <lib-input label="Username" formControlName="username" />
        <lib-button (click)="setUsername()">Set username</lib-button>
      } @else {
        <lib-input label="Message" formControlName="message" />
        <lib-button (click)="sendMessage()">Send</lib-button>
      }
    </form>
  </div>
</div>

