@use '../../styles/shared.scss' as *;

:host {
  display: flex;
  align-items: center;
}

.mode-toggle.#{$flat-light-theme-class-name},
.mode-toggle.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;

  fa-icon {
    &:first-of-type {
      margin-right: $padding;
    }

    &:last-of-type {
      margin-left: $padding;
    }
  }
}

.mode-toggle.#{$flat-light-theme-class-name} {
  color: $light-text-color;

  fa-icon {
    color: $light-text-color;
  }
}

.mode-toggle.#{$flat-dark-theme-class-name} {
  color: $dark-text-color;

  fa-icon {
    color: $dark-text-color;
  }
}
