:host {
  display: flex;
  align-items: center;
}

.mode-toggle.flat-light,
.mode-toggle.flat-dark {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size);
  line-height: var(--line-height);

  fa-icon {
    &:first-of-type {
      margin-right: var(--padding);
    }

    &:last-of-type {
      margin-left: var(--padding);
    }
  }
}

.mode-toggle.flat-light {
  color: var(--light-text-color);

  fa-icon {
    color: var(--light-text-color);
  }
}

.mode-toggle.flat-dark {
  color: var(--dark-text-color);

  fa-icon {
    color: var(--dark-text-color);
  }
}
