!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
/.angular/cache
.c9/
.classpath
.DS_Store
.history/*
.idea/
.project
.sass-cache/
.settings/
.vscode/*
*.launch
*.sublime-workspace
/bazel-out
/connect.lock
/coverage
/dist
/libpeerconnection.log
/node_modules
npm-debug.log
/out-tsc
testem.log
Thumbs.db
/tmp
/typings
yarn-error.log
