<app-background>
  <app-toolbar>
    <ng-container *ngIf="theme | async as theme">
      <app-title>{{ title }}</app-title>
      <div class="group">
        <app-mode-toggle />
        <app-vertical-separator />
        <app-user-info [username]="(username | async) || ''" />
      </div>
    </ng-container>
  </app-toolbar>
  <div class="content">
    <div class="main">
      <app-video-container
        [videoId]="video.id"
        [title]="video.title"
        [width]="video.width"
        [height]="video.height" />
      <app-video-actions />
    </div>
    <div class="right">
      <app-connected-users-info [usernames]="(usernames | async) || []" />
      <app-chat [messages]="(messages | async) || []" />
    </div>
  </div>
</app-background>
