@import './styles/shared.scss';

.group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - $toolbar-height);
}

.right,
.main {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 100%;
}

.main {
  width: 100%;
  padding-right: 8px;
}

.right {
  padding-left: 8px;
}

app-connected-users-info {
  margin-bottom: 16px;
}
