<app-background>
  <app-toolbar>
    <ng-container *ngIf="theme | async as theme">
      <app-title>{{ title }}</app-title>
      <div class="group">
        <app-mode-toggle></app-mode-toggle>
        <app-vertical-separator></app-vertical-separator>
        <app-user-info username="Jan Iksiński"></app-user-info>
      </div>
    </ng-container>
  </app-toolbar>
  <div class="content">
    <div class="main">
      <app-video-container [title]="video.title" [videoId]="'dQw4w9WgXcQ'" [width]="videoWidth" [height]="videoHeight"></app-video-container>
      <app-video-actions></app-video-actions>
    </div>
    <div class="right">
      <app-connected-users-info
        [usernames]="usernames"></app-connected-users-info>
      <app-chat [messages]="messages"></app-chat>
    </div>
  </div>
</app-background>
