<app-background>
  <app-toolbar>
    <app-title>{{ title }}</app-title>
    <div class="group">
      <app-mode-toggle />
      <app-vertical-separator />
      <app-user-info [username]="(username | async) || ''" />
    </div>
  </app-toolbar>
  <div class="content">
    <div class="main">
      <app-video-container
        [videoId]="video()?.videoId"
        [title]="video()?.title"
        [second]="second()"
        [width]="width"
        [height]="height" />
      <app-video-actions />
      <app-queue [queue]="(queue | async) || undefined" />
    </div>
    <div class="right">
      <app-connected-users-info [usernames]="(usernames | async) || []" />
      <app-chat [messages]="(messages | async) || []" />
    </div>
  </div>
  <app-toast-container />
</app-background>
