@import './styles/shared.scss';

.group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - $toolbar-height);
}

.right,
.main {
  display: flex;
  flex-direction: column;
  padding: $padding;
  height: 100%;
}

.main {
  width: 100%;
  padding-right: $padding * 0.5;
}

.right {
  padding-left: $padding * 0.5;
}

app-connected-users-info {
  margin-bottom: $padding;
}

.toast-container {
  position: fixed;
  bottom:  $padding;
  right:  $padding;
  z-index: 1000;
  // width: 300px;
  display: flex;
  justify-content: flex-end;
}
