@import "../../styles/shared.scss";

button.button.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  background: $dark-primary;
  border: none;
  color: white;
  margin: 0;
  padding: 6.5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size;
  border: 1px solid $dark-primary;
  box-shadow: none;
  border-radius: 4px;
}

button.button.#{$flat-dark-theme-class-name}:hover {
  background: lighten($dark-primary, 10%);
}

button.button.#{$flat-dark-theme-class-name}.clicked {
  background: $dark-primary-darker;
}

button.button.#{$flat-dark-theme-class-name}:focus {
  box-shadow: 0px 0px 0.5px 2px lighten($dark-primary-darker, 35%);
}
