@use '../../styles/shared.scss' as *;

$small-height: 24px;
$medium-height: 32px;

.button.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding-left: $padding;
  padding-right: $padding;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;
  color: $light-text-color;
  box-shadow: none;
  width: 100%;
  @include border-radius;

  &.primary {
    background: $light-primary-a60;
    color: $dark-link-color;
    border: 1px solid $light-primary-a60;

    &:hover {
      background: $light-primary-a40;
    }

    &.clicked {
      background: $light-primary-a60;
    }

    &:focus {
      box-shadow: 0px 0px 0.5px 2px $light-primary-a30;
    }
  }

  &.ghost {
    background: transparent;
    color: $light-link-color;
    border: 1px solid transparent;

    &:hover {
      background: rgba($dark-link-color, 0.6);
    }

    &.clicked {
      background: rgba($dark-link-color, 0.75);
    }

    &:focus {
      box-shadow: 0px 0px 0.5px 2px rgba($dark-link-color, 0.5);
    }
  }

  &.small {
    height: $small-height !important;
  }

  &.medium {
    height: $medium-height !important;
  }
}
