@import "../../styles/shared.scss";

button.button.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    $light-primary 0%,
    $light-primary-darker 100%
  );
  border: none;
  color: white;
  margin: 0;
  padding: 6.5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size;
  border: 1px solid $light-primary;
  box-shadow: none;
  border-radius: 4px;
}

button.button.#{$flat-light-theme-class-name}:hover {
  background: linear-gradient(
    180deg,
    lighten($light-primary, 10%) 0%,
    lighten($light-primary-darker, 10%) 100%
  );
}

button.button.#{$flat-light-theme-class-name}.clicked {
  background: linear-gradient(
    180deg,
    $light-primary-darker 0%,
    $light-primary 100%
  );
}

button.button.#{$flat-light-theme-class-name}:focus {
  box-shadow: 0px 0px 2px 2px lighten($light-primary, 35%);
}
