@import '../../styles/shared.scss';

$height: 32px;

button.button.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  background: $dark-primary-a50;
  border: none;
  color: white;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;
  border: 1px solid $dark-primary-a50;
  box-shadow: none;
  width: 100%;
  height: $height;
  @include border-radius;
}

button.button.#{$flat-dark-theme-class-name}:hover {
  background: $dark-primary-a40;
}

button.button.#{$flat-dark-theme-class-name}.clicked {
  background: $dark-primary-a60;
}

button.button.#{$flat-dark-theme-class-name}:focus {
  box-shadow: 0px 0px 0.5px 2px $dark-primary-a30;
}
