@import '../../styles/shared.scss';

button.button.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  background: $dark-primary-a50;
  border: none;
  color: white;
  margin: 0;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size;
  border: 1px solid $dark-primary-a50;
  box-shadow: none;
  border-radius: 4px;
  color: $dark-text-color;
}

button.button.#{$flat-dark-theme-class-name}:hover {
  background: $dark-primary-a40;
}

button.button.#{$flat-dark-theme-class-name}.clicked {
  background: $dark-primary-a60;
}

button.button.#{$flat-dark-theme-class-name}:focus {
  box-shadow: 0px 0px 0.5px 2px $dark-primary-a30;
}
