:host {
  display: flex;
  align-items: center;
}

.user-info.flat-light,
.user-info.flat-dark {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size);
  line-height: var(--line-height);

  fa-icon {
    margin-right: var(--padding);
  }
}

.user-info.flat-light {
  color: var(--light-text-color);
}

.user-info.flat-dark {
  color: var(--dark-text-color);
}
