:host {
  display: flex;
  align-items: center;
}

.user-info.flat-light {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--light-text-color);

  fa-icon {
    margin-right: var(--padding);
  }
}
