@import '../../styles/shared.scss';

$border-radius: 4px;

:host {
  flex-grow: 1;
}

.chat.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  width: 320px;
  height: 100%;
  align-self: stretch;
  color: $light-text-color;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px -2px rgba($light-primary-a80, 0.2); // TODO Variable

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    flex-grow: 1;
    background-color: $light-primary-a10;
    border-left: 1px solid $light-border-color;
    border-right: 1px solid $light-border-color;
    border: 1px solid $light-border-color;
    border-top: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px;
    background-color: $light-primary-a0;
  }

  .input {
    box-sizing: border-box;
    padding: 16px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $light-border-color;

    app-input {
      width: 100% !important;
      margin-right: 16px;
    }
  }
}
