<ng-container *ngIf="theme | async as theme">
  <div class="chat" [ngClass]="theme">
    <app-header>Chat</app-header>
    <div class="content">
      <div class="messages">
        <span *ngFor="let message of messages"
          >[{{ message.date.getHours() }}:{{ message.date.getMinutes() }}:{{
            message.date.getSeconds()
          }}] {{ message.username }}: {{ message.text }}</span
        >
      </div>
      <form class="input">
        <app-input [label]="'Message'"></app-input>
        <app-button>Send</app-button>
      </form>
    </div>
  </div>
</ng-container>
