@import '../../styles/shared.scss';

:host {
  flex-grow: 1;
}

.chat.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  width: 320px;
  height: 100%;
  align-self: stretch;
  color: $dark-text-color;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    flex-grow: 1;
    background-color: $dark-primary-a30;
    border-left: 1px solid $dark-border-color;
    border-right: 1px solid $dark-border-color;
    border: 1px solid $dark-border-color;
    border-top: none;
    @include border-bottom-radius;
  }

  .messages {
    display: flex;
    flex-direction: column;
    padding: $padding;
    flex-grow: 1;

    span {
      font-size: $font-size;
      line-height: $line-height;
    }
  }

  .input {
    box-sizing: border-box;
    padding: $padding;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid $dark-border-color;

    app-input {
      width: 100% !important;
      margin-right: $padding;
    }

    app-button {
      width: 64px;
    }
  }
}
