@use '../../styles/shared.scss' as *;

:host {
  display: flex;
  align-items: center;
}

.user-info.#{$flat-dark-theme-class-name} {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;
  color: $dark-text-color;

  app-round-button {
    margin-right: 8px;
  }
}
