@import '../../styles/shared.scss';

:host {
  display: flex;
  align-items: center;
}

div.#{$flat-dark-theme-class-name} {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;
  color: $dark-text-color;

  fa-icon {
    margin-right: 8px;
  }
}