<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <script src="/static/socket.io.min.js"></script>
        <script>
            var tag,done = false
            function init(){
                const socket = io();
                socket.on('message', ev => {
                    document.getElementById('content').innerHTML = ev.data
                    if(ev.data != 'Connected')
                        player.cueVideoById((new URL(ev.data)).searchParams.get('v'))
                });
                const form = document.getElementById('form')
                form.addEventListener('submit',function(e){
                    e.preventDefault()
                    var inputValue = document.getElementById('input').value
                    socket.emit("echo",{data:inputValue})
                })

                const form2 = document.getElementById('form-nick')
                form2.addEventListener('submit',function(e){
                    e.preventDefault()
                    var inputValue = document.getElementById('input-nick').value
                    socket.emit("set-nick",{data:inputValue})
                })
                makePlayer()
            }                
            function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                    height: '360',
                    width: '640',
                    videoId: 'M7lc1UVf-VE',
                    events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                    }
                });
            }

                // 4. The API will call this function when the video player is ready.
            function onPlayerReady(event) {
                event.target.playVideo();
            }
            function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                    //setTimeout(stopVideo, 6000);
                    done = true;
                }
            }
            function stopVideo() {
                player.stopVideo();
            }
            function makePlayer(){
                tag = document.createElement('script');

                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                // 3. This function creates an <iframe> (and YouTube player)
                //    after the API code downloads.


                // 5. The API calls this function when the player's state changes.
                //    The function indicates that when playing a video (state=1),
                //    the player should play for six seconds and then stop.
                done = false;
                player.playVideo()
            }
            //cueVideoById/curVideoByUrl
        </script>
    </head>
    <body>
        <div id="player"></div>
        <div id="content"></div>
        <form id="form">
            <input id="input" autofocus />
        </form>
        <form id="form-nick">
            <input id="input-nick" />
        </form>
        
        <script>init();</script>
    </body>
</html>