@use '../../styles/shared.scss' as *;

$row-height: 36px;

.queue.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  box-shadow: $dark-box-shadow;
  display: flex;
  flex-direction: column;
  background-color: $dark-primary-a30;
  border-left: 1px solid $dark-border-color;
  border-right: 1px solid $dark-border-color;
  border-top: none;
  border-bottom: none;
  margin-bottom: $padding;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $dark-primary-a30;
    height: $row-height;
    border-bottom: 1px solid $dark-border-color;

    &.playing {
      color: $dark-primary-a0 !important;
    }

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size;
      line-height: $line-height;
      color: $dark-text-color;
      width: 100%;
      max-width: 128px;
      padding-left: $padding;
      padding-right: $padding;

      &.index {
        max-width: 48px;
      }

      &.title {
        max-width: 512px + $padding * 2 - 48px;
      }

      &.added-by {
        max-width: 256px;
      }

      &.duration {
        justify-content: flex-end;
        text-align: right;
        max-width: 128px;
      }

      &.actions {
        flex-grow: 1;
        justify-content: flex-end;
        max-width: none;

        app-round-button:not(:last-child) {
          margin-right: 0.5 * $padding;
        }
      }
    }

    &:hover {
      background-color: $dark-primary-a20;
    }
  }

  .empty {
    font-size: $font-size;
    line-height: $line-height;
    color: $dark-text-color;
    padding: $padding;
  }

  .italic {
    font-style: italic;
  }

  .margin-right {
    margin-right: $padding;
  }
}
