@use '../../styles/shared.scss' as *;

$row-height: 36px;

.queue.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  color: $light-text-color;
  box-shadow: $light-box-shadow;
  display: flex;
  flex-direction: column;
  background-color: $light-primary-a0;
  border-left: 1px solid $light-border-color;
  border-right: 1px solid $light-border-color;
  border-bottom: 1px solid $light-border-color;
  margin-bottom: $padding;
  @include border-bottom-radius;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $light-primary-a0;
    height: $row-height;
    border-bottom: 1px solid $light-border-color;

    &.playing {
      color: $light-primary-a50 !important;
    }

    &:last-child {
      border-bottom-color: transparent;
    }

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size;
      line-height: $line-height;
      width: 100%;
      max-width: 128px;
      padding-left: $padding;
      padding-right: $padding;

      &.index {
        max-width: 48px;
      }

      &.title {
        max-width: 512px + $padding * 2 - 48px;
      }

      &.added-by {
        max-width: 256px;
      }

      &.duration {
        justify-content: flex-end;
        text-align: right;
        max-width: 128px;
      }

      &.actions {
        justify-content: flex-end;

        app-round-button:not(:last-child) {
          margin-right: 0.5 * $padding;
        }
      }
    }

    &:hover {
      background-color: $light-primary-a10;
    }
  }

  .empty {
    font-size: $font-size;
    line-height: $line-height;
    padding: $padding;
  }

  .italic {
    font-style: italic;
  }
}
