<ng-container *ngIf="theme | async as theme">
  <ng-container *ngIf="queue?.videos?.length">
    <div class="queue" [ngClass]="theme">
      <div
        *ngFor="
          let item of queue?.videos || [];
          trackBy: trackByFn;
          let index = index
        "
        (focus)="focus(index)"
        (mouseover)="focus(index)"
        (mouseout)="blur(index)"
        (blur)="blur(index)">
        <div class="title">{{ item.title }}</div>
        <div>added by {{ item.user.nick }}</div>
        <div class="duration">{{ item.duration_in_seconds | duration }}</div>
        <div class="actions">
          <ng-container *ngIf="focusedIndex === index">
            <app-round-button><fa-icon [icon]="faCircleUp" /></app-round-button>
            <app-round-button><fa-icon [icon]="faTrash" /></app-round-button>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
