@import '../../styles/shared.scss';

$border-radius: 4px;
$row-height: 36px;

.queue.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  color: $dark-text-color;
  box-shadow: $dark-box-shadow;
  display: flex;
  flex-direction: column;
  background-color: $dark-primary-a30;
  border-left: 1px solid $dark-border-color;
  border-right: 1px solid $dark-border-color;
  border-bottom: 1px solid $dark-border-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  margin-bottom: $padding;

  >div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $dark-primary-a30;
    height: $row-height;
    border-bottom: 1px solid $dark-border-color;

    &:last-child {
      border-bottom-color: transparent;
    }

    >div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: $font-size;
      line-height: $line-height;
      width: 25%;
      padding-left: $padding;
      padding-right: $padding;

      &.title {
        width: 100%;
        max-width: 512px + $padding * 2;
      }

      &.duration {
        justify-content: flex-end;
        text-align: right;
      }

      &.actions {
        justify-content: flex-end;

        app-round-button:not(:last-child) {
          margin-right: $padding / 2;
        }
      }
    }

    &:hover {
      background-color: $dark-primary-a20;
    }
  }
}