@import '../../styles/shared.scss';

$border-radius: 4px;

.queue.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  color: $light-text-color;
  box-shadow: $light-box-shadow;
  display: flex;
  flex-direction: column;
  background-color: $light-primary-a10;
  border-left: 1px solid $light-border-color;
  border-right: 1px solid $light-border-color;
  border-bottom: 1px solid $light-border-color;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  font-size: $font-size;
  line-height: $line-height;
  margin-bottom: $padding;

  > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $light-primary-a10;
    height: 48px;
    border-bottom: 1px solid $light-border-color;

    &:last-child {
      border-bottom-color: transparent;
    }

    > div {
      width: 20%;
      padding-left: $padding;
      padding-right: $padding;
    }
  }
}
