@use '../../styles/shared.scss' as *;

.video-container.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  color: $light-text-color;

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: $padding $padding 2px $padding;
    max-height: 100%;
    background-color: $light-primary-a0;
    border-left: 1px solid $light-border-color;
    border-right: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;
    overflow-y: scroll;
  }

  .no-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $font-size;
    line-height: $line-height;
    width: 100%;
    height: 500px;
    text-align: center;
    margin-bottom: $padding;
  }

  .italic {
    font-style: italic;
  }
}
