<ng-container *ngIf="theme | async as theme">
  <div #container class="video-container" [ngClass]="theme">
    <app-header>{{ title }}</app-header>
    <div class="content">
      @if (videoId) {
        <youtube-player
          [videoId]="videoId"
          [width]="width"
          [height]="height"
          (ready)="savePlayer($event)" />
      } @else {
        <div class="no-video">
          <span class="italic">There’s no video to play yet.</span>
        </div>
      }
      <!-- TODO: (change)="onStateChange($event)" -->
    </div>
  </div>
</ng-container>
