@import '../../styles/shared.scss';

$border-radius: 4px;

.video-container.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  color: $light-text-color;

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px 8px 2px 8px;
    max-height: 100%;
    background-color: $light-primary-a0;
    border-left: 1px solid $light-border-color;
    border-right: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;
    border-radius: 0;
    overflow-y: scroll;
  }
}
