@import '../../styles/shared.scss';

$border-radius: 4px;

.video-container.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  color: $dark-text-color;

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px 8px 2px 8px;
    max-height: 100%;
    background-color: $dark-primary-a30;
    border-left: 1px solid $dark-border-color;
    border-right: 1px solid $dark-border-color;
    border-bottom: 1px solid $dark-border-color;
    border-radius: 0;
    overflow-y: scroll;
  }
}
