div.flat-light,
div.flat-dark {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

div.flat-light {
  background-color: var(--gray-a10);
}

div.flat-dark {
  background-color: var(--dark-primary-a95);
}
