@use '../../styles/shared.scss' as *;

.video-container.#{$flat-light-theme-class-name},
.video-container.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  width: 100%;
  @include border-radius;

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .no-video {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 720px;
    text-align: center;
  }

  .italic {
    font-style: italic;
  }
}

.video-container.#{$flat-light-theme-class-name} {
  background-color: $gray-a20;
  border: 1px solid $light-border-color;
}

.video-container.#{$flat-dark-theme-class-name} {
  background-color: $gray-a100;
  border: 1px solid $dark-border-color;
}