@use '../../../libs/tooltip/src/lib/tooltip.flat.directive.scss' as tooltip-flat;
@use '../../../libs/tooltip/src/lib/tooltip.aero.directive.scss' as tooltip-aero;

@import 'normalize.css/normalize.css';

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('/fonts/open-sans/OpenSans-VariableFont_wdth,wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.mat-mdc-dialog-container,
.mat-mdc-dialog-inner-container,
.mat-mdc-dialog-surface,
.cdk-overlay-pane {
  background-color: transparent !important;
  box-sizing: border-box !important;
  border-radius: 0 !important;
  border: none !important;
}
