<div class="video-actions">
  <div class="content" [formGroup]="form">
    <lib-input formControlName="url" label="Video URL" />
    <lib-button class="margin-left" (click)="addVideoToQueue()"
      ><fa-icon class="margin-right" [icon]="faPlus" />Add to queue</lib-button
    >
    <lib-vertical-separator />
    <lib-button
      ><fa-icon
        class="margin-right"
        [icon]="faRotate" />Desynchronize</lib-button
    >
    <lib-button class="margin-left"
      ><fa-icon class="margin-right" [icon]="faForwardStep" />Vote to
      skip</lib-button
    >
  </div>
</div>
