.video-actions.flat-light,
.video-actions.flat-dark {
  box-sizing: border-box;
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  & > .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: var(--padding);

    lib-input {
      width: 100%;
      max-width: 512px;
    }

    app-button {
      min-width: 128px;
    }
  }

  .margin-left {
    margin-left: var(--padding);
  }

  .margin-right {
    margin-right: var(--padding);
  }
}

.video-actions.flat-light {
  color: var(--light-text-color);
  border: 1px solid var(--light-border-color);
  background-color: var(--light-primary-a0);

  & > .content {
    max-height: 192px;
  }
}

.video-actions.flat-dark {
  color: var(--dark-text-color);
  border: 1px solid var(--dark-border-color);
  background-color: var(--dark-primary-a30);

  & > .content {
    max-height: 100%;
  }
}
