.video-actions.flat-dark {
  box-sizing: border-box;
  width: 100%;
  color: var(--dark-text-color);

  & > .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    max-height: 100%;
    background-color: var(--dark-primary-a30);

    lib-input {
      width: 100%;
      max-width: 512px;
    }

    app-button {
      min-width: 128px;
    }
  }

  .margin-left {
    margin-left: var(--padding);
  }

  .margin-right {
    margin-right: var(--padding);
  }
}
