$flat-light-theme-class-name: 'flat-light';
$flat-dark-theme-class-name: 'flat-dark';
$aero-light-theme-class-name: 'aero-light';
$aero-dark-theme-class-name: 'aero-dark';

$light-primary-a0: #ffffff;
$light-primary-a10: #deefff;
$light-primary-a20: #bbe0ff;
$light-primary-a30: #95d1ff;
$light-primary-a40: #67c2ff;
$light-primary-a50: #00b3ff;
$light-primary-a60: #1c8cc6;
$light-primary-a70: #216791;
$light-primary-a80: #1e455e;
$light-primary-a90: #162530;
$light-primary-a100: #000000;

$dark-primary-a0: #cccccc;
$dark-primary-a10: #707070;
$dark-primary-a20: #505050;
$dark-primary-a30: #383838;
$dark-primary-a40: #303030;
$dark-primary-a50: #202020;
$dark-primary-a60: #1d1d1d;
$dark-primary-a70: #1a1a1a;
$dark-primary-a80: #171717;
$dark-primary-a90: #060606;
$dark-primary-a100: #010101;

$font-size: 14px;
$title-font-size: 24px;
$dark-text-color: $dark-primary-a0;
$light-text-color: $light-primary-a0;
