$flat-light-theme-class-name: 'flat-light';
$flat-dark-theme-class-name: 'flat-dark';
$aero-light-theme-class-name: 'aero-light';
$aero-dark-theme-class-name: 'aero-dark';

$light-primary-a0: #ffffff;
$light-primary-a10: #deefff;
$light-primary-a20: #bbe0ff;
$light-primary-a30: #95d1ff;
$light-primary-a40: #67c2ff;
$light-primary-a50: #00b3ff;
$light-primary-a60: #1c8cc6;
$light-primary-a70: #216791;
$light-primary-a80: #1e455e;
$light-primary-a90: #162530;
$light-primary-a100: #000000;

$light-success-a0: #ffffff;
$light-success-a10: #efffe9;
$light-success-a20: #cdffbe;
$light-success-a30: #a6ff91;
$light-success-a40: #75ff60;
$light-success-a50: #00ff0d;
$light-success-a60: #21c01a;
$light-success-a70: #24861c;
$light-success-a80: #1e4f17;
$light-success-a90: #121e0d;
$light-success-a100: #000000;

$dark-primary-a0: #eeeeee;
$dark-primary-a10: #707070;
$dark-primary-a20: #505050;
$dark-primary-a30: #383838;
$dark-primary-a40: #303030;
$dark-primary-a50: #202020;
$dark-primary-a60: #1d1d1d;
$dark-primary-a70: #1a1a1a;
$dark-primary-a80: #171717;
$dark-primary-a90: #060606;
$dark-primary-a100: #010101;

$font-size: 14px;
$line-height: 21px;
$title-font-size: 20px;
$title-line-height: 28px;

$dark-text-color: #dddddd;
$dark-border-color: $dark-primary-a40;
$dark-input-border-color: $dark-primary-a60;

$light-text-color: $dark-primary-a80;
$light-border-color: $light-primary-a30;
$light-input-border-color: #999999;

$toolbar-height: 36px;
$header-height: 32px;
