$flat-light-theme-class-name: 'flat-light';
$flat-dark-theme-class-name: 'flat-dark';
$aero-light-theme-class-name: 'aero-light';
$aero-dark-theme-class-name: 'aero-dark';

$font-size: 14px;

$light-primary: rgba(25, 163, 255, 1);
$light-primary-darker: rgba(0, 65, 108, 1);
$light-primary-lighter: rgb(144, 209, 253);

$dark-primary: rgb(42, 42, 42);
$dark-primary-darker: rgb(24, 24, 24);
$dark-primary-lighter: rgb(62, 62, 62);
