<app-background>
  <app-toolbar>
    <lib-title>{{ title }}</lib-title>
    <div class="group">
      <app-mode-toggle />
      <lib-vertical-separator />
      <app-user-info [username]="username()" />
    </div>
  </app-toolbar>
  <div class="content">
    <div class="main">
      <app-video-container
        [videoId]="video()?.videoId"
        [title]="video()?.title"
        [second]="second()"
        [width]="width"
        [height]="height" />
      <app-video-actions />
      <app-queue [queue]="queue()" />
    </div>
    <div class="right">
      <app-connected-users-info [usernames]="usernames()" />
      <app-chat [messages]="messages()" />
    </div>
  </div>
  <app-toast-container />
</app-background>
