@use './styles/shared.scss' as *;

:host {
  box-sizing: border-box;
  display: block;
  min-height: 100vh;
  width: 100%;
}

.group {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

lib-toolbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - $toolbar-height);
  height: auto;
}

.right,
.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: $padding;
  height: auto;
}

.main {
  position: initial;
  margin-top: $toolbar-height;
  flex: 1;
  min-width: 0;
  width: 100%;
  padding-right: $padding * 0.5;

  app-video-container,
  app-video-actions,
  app-queue {
    width: calc(100% - 320px);
  }
}

.right {
  flex-shrink: 0;
  padding-left: $padding * 0.5;
  position: fixed;
  right: 0;
  top: $toolbar-height;
  height: calc(100vh - $toolbar-height);
  width: 320px;
}

app-connected-users-info {
  margin-bottom: $padding;
}

.toast-container {
  box-sizing: border-box;
  position: fixed;
  bottom: $padding;
  right: $padding;
  z-index: 1000;
  // width: 300px;
  display: flex;
  justify-content: flex-end;
}
