<app-background>
  <lib-toolbar>
    <lib-title>{{ title }}</lib-title>
    <div class="group">
      <app-mode-toggle />
      <lib-vertical-separator />
      <app-user-info [username]="username()" />
    </div>
  </lib-toolbar>
  <div class="content">
    <div class="main">
      <app-video-container
        [videoId]="video()?.videoId"
        [title]="video()?.title"
        [second]="second()"
        [width]="width()"
        [height]="height()" />
      <app-video-actions />
      <app-queue [queue]="queue()" />
    </div>
    <div class="right">
      <app-connected-users [usernames]="usernames()" />
      <app-chat [username]="username()" [messages]="messages()" />
    </div>
  </div>
  <div class="footer">
    <a
      href="https://www.vecteezy.com/vector-art/70051095-a-drawing-of-a-theater-with-chairs-and-a-screen"
      >Drawing of a theater with chairs and a screen by Vecteezy</a
    >
  </div>
  <app-toast-container />
</app-background>
