@use './styles/shared.scss' as *;

:host {
  box-sizing: border-box;
  display: block;
  min-height: 100vh;
  width: 100%;
}

.group {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

lib-toolbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - $toolbar-height);
  height: auto;
}

.right,
.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: $padding;
  height: auto;
}

.main {
  position: initial;
  margin-top: $toolbar-height;
  flex: 1;
  min-width: 0;
  width: 100%;
  padding-right: $padding * 0.5;

  app-video-container,
  app-video-actions,
  app-queue {
    width: calc(100% - $panel-width - $padding * 1.5);
  }

  app-video-container {
    margin-bottom: $padding;
  }
}

.right {
  flex-shrink: 0;
  padding-left: $padding * 0.5;
  position: fixed;
  right: 0;
  top: $toolbar-height;
  height: calc(100vh - $toolbar-height);
  width: $panel-width + ($padding * 1.5);
  min-width: $panel-width + ($padding * 1.5);
  max-width: $panel-width + ($padding * 1.5);
}

app-connected-users {
  margin-bottom: $padding;
}

.toast-container {
  box-sizing: border-box;
  position: fixed;
  bottom: $padding;
  right: $padding;
  z-index: 1000;
  // width: 300px;
  display: flex;
  justify-content: flex-end;
}

a {
  color: $light-primary-a30;
  text-decoration: underline;

  &:visited {
    color: $light-primary-a40;
  }

  &:hover {
    color: $light-primary-a20;
  }

  &:active {
    color: $light-primary-a10;
  }
}