:host {
  box-sizing: border-box;
  display: block;
  min-height: 100vh;
  width: 100%;
}

.group {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

lib-toolbar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding-top: var(--toolbar-height);
  min-height: 100vh;
  height: auto;
}

.right,
.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  height: auto;
}

.main {
  position: initial;
  flex: 1;
  min-width: 0;
  width: 100%;
  padding-right: calc(var(--padding) * 0.5);

  app-video-container,
  app-video-actions,
  app-queue {
    width: 100%;
  }

  app-video-container {
    margin-bottom: var(--padding);
  }

  lib-footer {
    margin-top: auto;
  }
}

.right {
  flex-shrink: 0;
  padding-left: calc(var(--padding) * 0.5);
  position: sticky;
  top: var(--toolbar-height);
  max-height: calc(100vh - var(--toolbar-height));
  width: calc(var(--panel-width) + var(--padding) * 1.5);
  min-width: calc(var(--panel-width) + var(--padding) * 1.5);
  max-width: calc(var(--panel-width) + var(--padding) * 1.5);
}

app-connected-users {
  margin-bottom: var(--padding);
}

.toast-container {
  box-sizing: border-box;
  position: fixed;
  bottom: var(--padding);
  right: var(--padding);
  z-index: 1000;

  // width: 300px;
  display: flex;
  justify-content: flex-end;
}

a {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  display: inline-block;
  color: inherit;
  text-decoration: underline;
}
