.connected-users.flat-light,
.connected-users.flat-dark {
  box-sizing: border-box;
  width: 320px;
  border-radius: var(--border-radius) !important;

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    max-height: 192px;

    span {
      font-size: var(--font-size);
      line-height: var(--line-height);
    }
  }
}

.connected-users.flat-light {
  color: var(--light-text-color);
  background-color: var(--light-primary-a0);
  border: 1px solid var(--light-border-color);

  .content {
    border-top: 1px solid var(--light-border-color);

    span {
      color: var(--light-text-color);
    }
  }
}

.connected-users.flat-dark {
  color: var(--dark-text-color);
  background-color: var(--dark-primary-a30);
  border: 1px solid var(--dark-border-color);

  .content {
    border-top: 1px solid var(--dark-border-color);

    span {
      color: var(--dark-text-color);
    }
  }
}
