.toast-container {
  box-sizing: border-box;
  position: fixed;
  bottom: var(--padding);
  right: var(--padding);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: var(--padding);
}
