@use '../../styles/shared.scss' as *;

$border-radius: 50%;
$size: 28px;

button.round-button.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  background: transparent;
  border: none;
  color: $dark-link-color;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;
  border: 1px solid transparent;
  box-shadow: none;
  width: $size;
  height: $size;
  @include border-radius;
}

button.round-button.#{$flat-dark-theme-class-name}:hover {
  background: rgba($dark-primary-a0, 0.5);
}

button.round-button.#{$flat-dark-theme-class-name}.clicked {
  background: rgba($dark-primary-a0, 0.35);
}

button.round-button.#{$flat-dark-theme-class-name}:focus {
  box-shadow: 0px 0px 0.5px 1px rgba($dark-primary-a0, 0.55);
}
