@import './../node_modules/normalize.css/normalize.css';

@import './../node_modules/bootstrap/dist/css/bootstrap.min.css';

.mat-mdc-dialog-inner-container.mdc-dialog__container {
  border-radius: 0;
  background-color: transparent !important;
  box-sizing: border-box !important;
}
