@import '../../styles/shared.scss';

.connected-users-info.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  width: 320px;
  color: $dark-text-color;

  .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: $padding;
    max-height: 256px - 64px;
    background-color: $dark-primary-a30;
    border-left: 1px solid $dark-border-color;
    border-right: 1px solid $dark-border-color;
    border-bottom: 1px solid $dark-border-color;
    overflow-y: scroll;
    @include border-bottom-radius;

    span {
      font-size: $font-size;
      line-height: $line-height;
    }
  }
}