@import '../../styles/shared.scss';

:host {
  display: flex;
  align-items: center;
}

.mode-toggle.#{$flat-light-theme-class-name} {
  display: flex;
  flex-direction: row;
  align-items: center;

  fa-icon {
    color: $light-text-color;

    &:first-of-type {
      margin-right: 8px;
    }

    &:last-of-type {
      margin-left: 8px;
    }
  }
}
