@import '../../styles/shared.scss';

:host {
  display: flex;
  align-items: center;
}

.mode-toggle.#{$flat-dark-theme-class-name} {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: $font-size;
  line-height: $line-height;

  fa-icon {
    color: $dark-text-color;

    &:first-of-type {
      margin-right: $padding;
    }

    &:last-of-type {
      margin-left: $padding;
    }
  }
}