@import '../../styles/shared.scss';

.mode-toggle.#{$flat-light-theme-class-name} {
  display: flex;
  flex-direction: row;
  align-items: center;

  fa-icon {
    margin: 0 8px;
    color: $light-text-color;
  }
}
