<div class="queue" [ngClass]="theme()">
  @if (queue?.videos?.length) {
    @for (item of queue?.videos || []; track trackByFn($index, item)) {
      <div
        class="item"
        [class.playing]="queue?.currentlyPlayedVideo?.videoId === item.videoId"
        (focus)="focus($index)"
        (mouseover)="focus($index)"
        (mouseout)="blur($index)"
        (blur)="blur($index)">
        <div class="index">
          @if (queue?.currentlyPlayedVideo?.videoId !== item.videoId) {
            {{ $index + 1 }}
          } @else {
            <fa-icon [icon]="faPlay" />
          }
        </div>
        <div class="title">{{ item.title }}</div>
        <div class="added-by">added by {{ item.user.nick }}</div>
        <div class="duration">
          @if (queue?.currentlyPlayedVideo?.videoId === item.videoId) {
            {{ queue?.currentlyPlayedSecond | duration }} /
          }
          {{ item.duration_in_seconds | duration }}
        </div>
        <div class="actions">
          @if (focusedIndex === $index) {
            <app-button class="margin-right"
              ><fa-icon [icon]="faCircleUp" />Vote to move up (0)</app-button
            >
            <app-button
              ><fa-icon [icon]="faTrash" />Vote to remove (0)</app-button
            >
          }
        </div>
      </div>
    }
  } @else {
    <div class="empty">
      <span class="italic">Queue is empty.</span>
    </div>
  }
</div>
