<div class="queue">
  @if (queue()?.videos?.length) {
    @for (item of queue()?.videos || []; track trackByFn($index, item)) {
      <div
        class="item"
        [class.playing]="
          queue()?.currentlyPlayedVideo?.videoId === item.videoId
        "
        (focus)="focus($index)"
        (mouseover)="focus($index)"
        (mouseout)="blur($index)"
        (blur)="blur($index)">
        <div class="index">
          @if (queue()?.currentlyPlayedVideo?.videoId !== item.videoId) {
            <lib-text>{{ $index + 1 }}</lib-text>
          } @else {
            <fa-icon [icon]="faPlay" />
          }
        </div>
        <div class="title">
          <lib-text>{{ item.title }}</lib-text>
        </div>
        <div class="added-by">
          <lib-text>added by {{ item.user.nick }}</lib-text>
        </div>
        <div class="duration">
          <lib-text>
            @if (queue()?.currentlyPlayedVideo?.videoId === item.videoId) {
              {{ queue()?.currentlyPlayedSecond | duration }} /
            }
            {{ item.duration_in_seconds | duration }}
          </lib-text>
        </div>
        <div class="actions">
          @if (focusedIndex === $index) {
            <lib-button class="margin-right" [variant]="'ghost'"
              ><fa-icon [icon]="faCircleUp" class="margin-right" />Vote to move
              up (0)</lib-button
            >
            <lib-button [variant]="'ghost'"
              ><fa-icon [icon]="faTrash" class="margin-right" />Vote to remove
              (0)</lib-button
            >
          }
        </div>
      </div>
    }
  } @else {
    <div class="empty">
      <lib-text class="italic">Queue is empty.</lib-text>
    </div>
  }
</div>
