.queue.flat-light,
.queue.flat-dark {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: none;
  border-bottom: none;
  margin-bottom: var(--padding);

  .item {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 36px;

    > div {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: var(--font-size);
      line-height: var(--line-height);
      width: 100%;
      max-width: 128px;
      padding-left: var(--padding);
      padding-right: var(--padding);

      &.index {
        max-width: 48px;
      }

      &.title {
        max-width: calc(512px + var(--padding) * 2 - 48px);
      }

      &.added-by {
        max-width: 256px;
      }

      &.duration {
        justify-content: flex-end;
        text-align: right;
        max-width: 128px;
      }

      &.actions {
        flex-grow: 1;
        justify-content: flex-end;
        max-width: none;

        app-round-button:not(:last-child) {
          margin-right: calc(var(--padding) * 0.5);
        }
      }
    }
  }

  .empty {
    box-sizing: border-box;
    font-size: var(--font-size);
    line-height: var(--line-height);
    padding: var(--padding);
  }

  .italic {
    font-style: italic;
  }

  .margin-right {
    margin-right: var(--padding);
  }
}

.queue.flat-light {
  background-color: var(--light-primary-a0);
  border-left: 1px solid var(--light-border-color);
  border-right: 1px solid var(--light-border-color);

  .item {
    background-color: var(--light-primary-a0);
    border-bottom: 1px solid var(--light-border-color);

    &.playing {
      color: var(--light-primary-a50) !important;
    }

    > div {
      color: var(--light-text-color);
    }

    &:hover {
      background-color: var(--light-primary-a10);
    }
  }

  .empty {
    color: var(--light-text-color);
  }
}

.queue.flat-dark {
  background-color: var(--dark-primary-a30);
  border-left: 1px solid var(--dark-border-color);
  border-right: 1px solid var(--dark-border-color);

  .item {
    background-color: var(--dark-primary-a30);
    border-bottom: 1px solid var(--dark-border-color);

    &.playing {
      color: var(--dark-primary-a0) !important;
    }

    > div {
      color: var(--dark-text-color);
    }

    &:hover {
      background-color: var(--dark-primary-a20);
    }
  }

  .empty {
    color: var(--dark-text-color);
  }
}
