@import '../../styles/shared.scss';

$border-radius: 4px;

.input.#{$flat-light-theme-class-name} {
  input {
    box-sizing: border-box;
    max-height: 36px;
    border: 1px solid $light-input-border-color;
    background-color: $light-primary-a0;
    color: $light-text-color;
    border-radius: $border-radius;
    padding: calc(0.5 * (36px - 1rem)) 6px;
  }

  input:focus {
    border: 1px solid $light-input-border-color;
    box-shadow: 0px 0px 0.5px 2px $light-primary-a30;
  }

  input:hover {
    background: $light-primary-a0;
  }
}
