@use '../../../styles/shared.scss' as *;

$width: 38px;
$height: $line-height;

div.#{$flat-light-theme-class-name} {
  .switch {
    position: relative;
    display: inline-block;
    width: $width;
    height: $height;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc; // TODO Move to shared
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: $height - 8px;
    width: $height - 8px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $light-primary-a50;
    background: $light-primary-a50;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $light-primary-a30;
  }

  input:checked:hover + .slider {
    background-color: $light-primary-a40;
    background: $light-primary-a40;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX($width - ($height));
    -ms-transform: translateX($width - ($height));
    transform: translateX($width - ($height));
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
