@import '../../styles/shared.scss';

$color1: $light-primary-lighter;
$color2: darken($light-primary-lighter, 3%);
$color3: darken($light-primary-lighter, 5%);
$color4: lighten($light-primary-lighter, 2%);
$color5: darken($light-primary-lighter, 6%);

div.toolbar.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  border-bottom: 1px solid $color1;
  background-color: $light-primary;
  background-image: radial-gradient(
      circle at 7% 81%,
      $color1 16%,
      transparent 53%
    ),
    radial-gradient(circle at 5% 1%, $color2 7%, transparent 84%),
    radial-gradient(circle at 39% 52%, $color3 6%, transparent 68%),
    radial-gradient(circle at 11% 29%, $color4 8%, transparent 74%),
    radial-gradient(circle at 90% 50%, $color5 2%, transparent 85%);
  background-blend-mode: normal, normal, normal, normal, normal;
  box-shadow: 0 4px 10px -2px rgb(0, 0, 0, 0.3);
}
