@import '../../styles/shared.scss';

$color1: $light-primary-a10;
$color2: darken($color1, 3%);
$color3: darken($color1, 5%);
$color4: lighten($color1, 2%);
$color5: darken($color1, 6%);

div.toolbar.#{$flat-light-theme-class-name} {
  box-sizing: border-box;
  height: $toolbar-height;
  width: 100%;
  border-bottom: 1px solid $light-border-color;
  background-color: $color1;
  background-image: radial-gradient(
      circle at 7% 81%,
      $color1 16%,
      transparent 53%
    ),
    radial-gradient(circle at 5% 1%, $color2 7%, transparent 84%),
    radial-gradient(circle at 39% 52%, $color3 6%, transparent 68%),
    radial-gradient(circle at 11% 29%, $color4 8%, transparent 74%),
    radial-gradient(circle at 90% 50%, $color5 2%, transparent 85%);
  background-blend-mode: normal, normal, normal, normal, normal;
  box-shadow: 0 4px 10px -2px rgba($light-primary-a80, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: $padding;
  padding-right: $padding;
}
