@use '../../styles/shared.scss' as *;
@use 'sass:color';

$color1: $dark-primary-a40;
$color2: color.adjust($color1, $lightness: -1%);
$color3: color.adjust($color1, $lightness: -2%);
$color4: color.adjust($color1, $lightness: -0.2%);
$color5: color.adjust($color1, $lightness: -1%);

div.toolbar.#{$flat-dark-theme-class-name} {
  box-sizing: border-box;
  height: $toolbar-height;
  width: 100%;
  border-bottom: 1px solid $dark-border-color;
  background-color: $color1;
  background-image: radial-gradient(
      circle at 7% 81%,
      $color1 16%,
      transparent 53%
    ),
    radial-gradient(circle at 5% 1%, $color2 7%, transparent 84%),
    radial-gradient(circle at 39% 52%, $color3 6%, transparent 68%),
    radial-gradient(circle at 11% 29%, $color4 8%, transparent 74%),
    radial-gradient(circle at 90% 50%, $color5 2%, transparent 85%);
  background-blend-mode: normal, normal, normal, normal, normal;
  box-shadow: $dark-box-shadow;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: $padding;
  padding-right: $padding;
}
