@import '../../styles/shared.scss';

div.#{$flat-light-theme-class-name} {
  background-color: $light-primary-a10;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  overflow-y: scroll;
}
