@use '../../styles/shared.scss' as *;

div.#{$flat-dark-theme-class-name} {
  background-color: $dark-primary-a50;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: scroll;
  overflow-y: scroll;
}
